In [1]:
# Actividad 04 - Funciones y probabilidad básica

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('worldcup2014.csv')

In [4]:
## Ejercicio 1: Generación de funciones

In [18]:
def media(x):
    """ x corresonde a un vector, se calculará la media"""
    media_ = np.mean(x)
    return media_

In [19]:
def funciones_01(x):
    """ x corresponde a un vector, se calculara la varianza y la media a través de otra función """
    varianza_ = np.std(x)
    media_ = media(x)
    return varianza_, media_

In [20]:
funciones_01(df['goles_favor'])

(2.277608394786075, 4.25)

In [21]:
funciones_01(df['goles_contra'])

(2.1937410968480306, 4.25)

In [22]:
funciones_01(df['puntos'])

(2.8365292943137392, 4.21875)

In [23]:
## Ejercicio 2:

In [38]:
def funciones_02(df, group_by, var):
    """ df: es el DataFrame
        group_by, la segmentación por continente
        var, la columna a analizar """
    
    continent = []
    store_mean = []
    store_std = []
    continente = df[df['continent'] == group_by]
    
    for d in [continente]:
        continent.append(d.iloc[0,1])
        store_mean.append(funciones_01(d[var])[1]) #media
        store_std.append(funciones_01(d[var])[0]) #varianza
            
    tmp = pd.DataFrame({'continente': continent,
                   'media_goles': store_mean,
                   'std_goles': store_std})

    return tmp

In [40]:
#Goles a favor Europa
funciones_02(df, "europe", "goles_favor")

  continente  media_goles  std_goles
0     europe     4.769231    2.51622

In [41]:
#Goles en contra Asia
funciones_02(df, "asia", "goles_contra")

  continente  media_goles  std_goles
0       asia         6.25   1.785357

In [42]:
#Puntos Europa
funciones_02(df, "europe", "puntos")

  continente  media_goles  std_goles
0     europe     4.692308   2.523265

In [43]:
## Ejercicio 3: Simulaciones

In [57]:
def generate_pet():
    return np.random.choice(["perro", "gato"])

In [60]:
generate_pet()

'perro'

In [72]:
animales = []
for d in range(0, 20):
    animales.append(generate_pet())

In [73]:
animales

['perro',
 'gato',
 'gato',
 'perro',
 'gato',
 'gato',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro',
 'perro',
 'perro',
 'gato',
 'perro',
 'perro']

In [77]:
#¿Cuál es la probabilidad de elegir un perro al azar?
animales.count('perro')/len(animales)

0.7

In [78]:
#¿Y un gato?
animales.count('gato')/len(animales)

0.3

In [116]:
#Agrege `np.random.seed(2)` al inicio del chunk. ¿Qué hace éste método en la simulación?
animales_seed = []
for d in range(0, 20):
    np.random.seed(2)
    animales_seed.append(generate_pet())

In [117]:
animales_seed

['perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro']

In [118]:
#el mismo resultado aparecerá siempre

In [119]:
## Ejercicio 4: Función simuladora

In [146]:
def simulate_pets_prob(num_sim):
    old_pets = []
    young_pets=[]
    np.random.seed(1)
    for d in range(0, num_sim):
        old_pets.append(generate_pet())
        young_pets.append(generate_pet())
        
    simulacion = pd.DataFrame({'Young': young_pets,
                              'Old': old_pets})

    return simulacion

In [147]:
df_simulacion= simulate_pets_prob(10)
df_simulacion

   Young    Old
0   gato   gato
1  perro  perro
2   gato   gato
3   gato   gato
4  perro   gato
5   gato  perro
6   gato  perro
7  perro   gato
8   gato  perro
9  perro  perro

In [148]:
#De los dos animales simulados, contar las ocasiones donde por lo menos uno de los animales sea un perro.
cant_perros = 0 
for i, r in df_simulacion.iterrows():        
    if (r['Young'] == 'perro' or r['Old'] == 'perro' ):
        cant_perros += 1
        
cant_perros

7

In [149]:
#De los dos animales simulados, contar las ocasiones donde por lo menos uno sea un perro viejo.
cant_perros_viejos = 0 
for i, r in df_simulacion.iterrows():        
    if (r['Old'] == 'perro'):
        cant_perros_viejos += 1
        
cant_perros_viejos

5

In [150]:
#De los dos animales simulados, contar las ocasiones donde los dos sean perros
cant_ambos_perros = 0 
for i, r in df_simulacion.iterrows():        
    if (r['Young'] == 'perro' and r['Old'] == 'perro'):
        cant_ambos_perros += 1
        
cant_ambos_perros

2

In [151]:
#De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable?
cant_perros/len(df_simulacion)

0.7

In [152]:
cant_perros_viejos/len(df_simulacion)

0.5

In [153]:
cant_ambos_perros/len(df_simulacion)

0.2

In [ ]:
# menos probabable que ambos sean perros, más probable la cantidad de perros